.navbar {
    background: white;
    box-shadow: var(--shadow);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo {
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--primary);
}

.nav-links {
    display: flex;
    gap: 2rem;

}

.nav-links a {
    color: var(--text);
    font-weight: 500;
    transition: .3s;
    text-decoration: none;
}

.nav-links a:hover,
.nav-links .active {
    color: var(--primary);
}

.navbar-buttons {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.navbar-buttons button {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-buttons button:hover {
    background-color: var(--primary-dark);
    color: var(--primary);
    transition: background-color 0.3s ease;
}