.btn {
    padding: 12px 28px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.primary {
    background: var(--primary);
    color: white;
}

.primary:hover {
    background: white;
    transform: translateY(-10px);
    color: var(--primary);
    border: 2px solid var(--primary);
}

.secondary {
    background: white;
    color: var(--primary);
    border: 2px solid var(--primary);
}

.secondary:hover {
    background: var(--primary);
    color: white;
    transform: translateY(-10px);
}